body {
  background-color: #242835 !important;
  color: white !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ant-table-wrapper {
  table {
    font-size: 0.9em;
    background-color: #242835;
    color: white;
  }
  .ant-table-thead > tr > th {
    background-color: #242835;
    color: white;
    border-bottom: 1px solid #4f576b;
  }
  .ant-table-tbody > tr > td {
    border-bottom: 1px solid #2e333e;
  }
  .ant-table-tbody > tr.ant-table-row:hover > td {
    background: #323744;
  }
}

.ant-radio-button-wrapper {
  background: #242935 !important;
  border: 1px solid #353535 !important;
  color: white !important;
  .ant-radio-button.ant-radio-button-checked {
    background-color: #649ed5;
  }
}

.ant-pagination-item-link {
  color: #fff !important;
  background-color: #425994 !important;
  border: 1px solid #425894 !important;
}

.ant-pagination-disabled {
  opacity: 50%;
}

.ant-pagination-item {
  background: #3f4c6b !important;
  border-color: #639fd6 !important;
  &.ant-pagination-item-active {
    background: #639fd6 !important;
  }

  a {
    color: white !important;
  }
}

.ant-btn.ant-btn-circle {
  color: white;
  background: #242935;
  border-color: white;

  &:hover, &:focus, &:active {
    background: #649ed5 !important;
    color: white !important;
  }
}

.ant-drawer {
  .ant-drawer-close {
    svg {
      color: #fff;
    }
  }
  .ant-drawer-body {
    background-color: #252735;
    padding-top: 0;
  }
  .ant-drawer-header {
    background-color: #252735;
    border-bottom: 0;
    .ant-drawer-title {
      color: #fff;
      font-weight: bold;
      font-size: 1.6em;
    }
    .ant-typography {
      font-size: 0.6em;
    }
  }
  .ant-spin {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.player-data-view {
  display: flex;
  border: 1px solid #3f404c;
  width: fit-content;
  padding: 10px 13px;
  border-radius: 12px;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
  .data-iconn {
    font-size: 1.2em;
    margin-right: 10px;
  }
  img {
    width: 29px;
    margin-right: 10px;
  }
  .data-label {
    font-size: 1.1em;
    font-weight: bold;
  }
}

.axie-container {
  border: 1px solid #393b46;
  background-color: #292b39;
  border-radius: 10px;
  margin: 0 15px 15px 0;
  padding: 10px 20px;
  .axie-info {
    text-align: center;
    .axie-img {
      width: 150px;
    }
  }
}

.stat-label {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 1px;
  color: #969696;
}
.axie-stat {
  padding-right: 15px;
  .icon-container {
    background-color: #3a3f50;
    padding: 2px;
    border-radius: 5px;
    width: 24px;
    margin-right: 10px;
    img {
      width: 20px;
      height: 20px;
    }
  }
}

.genes-container {
  margin-top: 15px;
  display: flex;
  .col {
    width: 33%;
  }
  .label {
    font-size: 0.7em;
    &.aquatic {
      color: rgb(0, 184, 206);
    }
    &.plant {
      color: rgb(108, 192, 0);
    }
    &.beast {
      color: rgb(255, 184, 18);
    }
    &.bird {
      color: rgb(255, 139, 189);
    }
    &.reptile {
      color: rgb(200, 138, 224);
    }
    &.bug {
      color: rgb(255, 83, 65);
    }
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  .axie-card {
    width: 150px;
    margin-right: 32px;
    margin-bottom: 24px;
    img {
      padding-left: 8.33%;
    }
    .card-name {
      top: 5.5%;
      left: 31%;
      width: 59%;
      height: 10%;
      font-size: 9.77907px;
    }
    .card-description {
      top: 68%;
      left: 29%;
      height: 28%;
      font-size: 7.82325px;
      width: 59%;
      color: rgb(204, 204, 204);
    }
    .energy-label {
      top: 2%;
      left: 10%;
      width: 22%;
      height: 16%;
      -webkit-text-stroke: 1px rgb(125, 69, 27);
      font-size: 21.25px;
    }
    .effect-container {
      width: 14%;
      height: 11.5%;
      top: 76%;
      left: 10%;
    }
    .attack-container {
      top: 20%;
      left: 3%;
      .attack-icon-container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .attack-value {
        top: 51%;
        left: 54%;
        transform: translate(-50%, -50%);
        text-shadow: #83152b -2px 0px, #83152b 0px 2px, #83152b 2px 0px, #83152b 0px -2px;
        font-size: 9.3846px;
      }
    }
    .def-container {
      top: 36%;
      left: 3%;
      .def-icon-container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .def-value {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: #025959 -2px 0px, #025959 0px 2px, #025959 2px 0px, #025959 0px -2px;
        font-size: 9.3846px;
      }
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.font-black {
  font-weight: 900;
}

.absolute {
  position: absolute;
}
.font-semibold {
  font-weight: 600;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.flex {
  display: flex;
}
.text-center {
  text-align: center;
}
.w-full {
  width: 100%;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/5 {
  width: 20%;
}

.m-lbl {
  font-size: 1.2em;
}

.font-weight-bold {
  font-weight: bold;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
